
*{
    padding: 0;
    margin: 0;
}
.body {
    background: url('../image/bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    background: linear-gradient(rgb(178, 250, 10), rgb(94, 160, 63));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(black, brown);
    border: 2px solid rgb(0, 0, 0);
    transform: scale(1.02);
    border-radius: 9px;
}
.snake {
    background-color: purple;
    border: .25vmin solid whitesmoke;
    border-radius: 12px;
}
.food {
    background: linear-gradient(red, brown);
    border: .25vmin solid black;
    border-radius: 8px;
}
#scoreBox {
    position: absolute;
    top: 15px;
    right: 200px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#hiscoreBox {
    position: absolute;
    top: 60px;
    right: 200px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#speedBox {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#name {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    color: white;
    
}